#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  --card-border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  text-align: start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.video-card {
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: var(--card-border-radius);
  background: #ffffff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
}

.thumbnail {
  width: 35%;
  height: 100%;
  background: green;
  border-radius: var(--card-border-radius);
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-information {
  width: calc(100% - 35%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h3 {
    font-size: 14px;
    font-weight: bolder;
  }

  > h5 {
    font-size: 12px;
    font-weight: 400;
  }

  > .featured-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
  }
}
